.logo {
  float: left;
  height: 31px;
  margin: 16px 24px 16px 0;
  color: #fff;
  line-height: 31px;
  font-size: 24px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
